@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');

.App {
  font-family: sans-serif;
  text-align: center;
  margin-top: 3rem;
}

body {
  width: 90vw;
  margin: 0 auto;
  color: #FFC22D;
  background-color: #151515;
}

h1 {
  text-transform: capitalize;
  font-size: 3.5rem;
  font-family: 'Ephesis', cursive;
  color: #FFFFFF;
}

input {
  padding: 15px 20px;
  border: none;
  background-color: #FFFFFF;
  width: 70%;
}

input::placeholder {
  color: black;
  opacity: 0.6;
  margin-bottom: 3rem;
}

span {
  font-size: 2.5rem;
  margin-left: 5px;
  cursor: pointer;
}

@media screen and (min-width: 600px) {
  .App {
    padding: 20px 40px;
    margin-top: 0.5rem;
  }

  body {
    width: 90vw;
  }

  input {
    width: 80%;
    padding: 4vh 2vw;
  }

  h1 {
    font-size: 4rem;
  }

  span {
    font-size: 3rem;
  }

}

